/*RESPONSIVE*/
@media screen and (max-width: 1024px) {
	td:hover::after,
	th:hover::after {
		display: none;
	}

	td:hover::before,
	th:hover::before {
		display: none;
	}

	.chart__row:hover {
		color: #444444;
	}

	.chart__row:hover .chart__item {
	  color: #444444;
	}
}



@media screen and (max-width: 1000px) {
	.chart {
		margin-left: 15px;
		margin-right: 15px;
	}
}



@media screen and (max-width: 900px) {
	.chart__company {
		display: none;
	}
}



@media screen and (max-width: 800px) {
	.chart__aircraft_full {
		display: none;
	}

	.chart__aircraft_short {
		display: block;
	}
}



@media screen and (max-width: 768px) {
	.chart__note {
		display: none;
	}

	.chart__type {
		width: 8.80%;
	}

	.chart__number {
		width: 7.45%;
	}

	.chart__airline {
		width: 13.27%;
	}

	.chart__aircraft {
		width: 18.29%;
	}

	.chart__airport {
		width: 17.75%;
	}

	.chart__time {
		width: 13.55%;
	}

	.chart__status {
		width: 18.83%;
	}
}



@media screen and (max-width: 600px) {
	.chart {
		margin-bottom: 15px;
	}

	.chart__aircraft {
		display: none;
	}

	.chart__type {
		width: 10.83%;
	}

	.chart__number {
		width: 9.16%;
	}

	.chart__airline {
		width: 16.33%;
	}

	.chart__airport {
		width: 20.66%;
	}

	.chart__time {
		width: 15.83%;
	}

	.chart__status {
		width: 22.16%;
	}
}



@media screen and (max-width: 500px) {
	.chart__airport {
		display: none;
	}

	
}



@media screen and (max-width: 430px) {
	.chart__type {
		display: none;
	}

	.chart__label {
		display: none;
	}
}



@media screen and (max-width: 380px) {
	.chart__airline {
		display: none;
	}
}



@media screen and (max-width: 320px) {
	.popup__content {
		width: 100%;
		left: 0;
		margin-left: 0;
	}
}